In [98]:
import requests 
from bs4 import BeautifulSoup
import pandas
import re
import datetime

In [104]:
base_url = 'https://www.camara.leg.br/internet/deputado/resultadoHistorico.asp?Pagina=**PAGENUMBER**&dt_inicial=11%2F04%2F1960&dt_final=11%2F04%2F2019&parlamentar=&filiacaoPartidaria=1&ordenarPor=2&Pesquisar=Pesquisar'
regexPattern = re.compile(r'(?P<MovDate>(?P<Day>\d{1,2})/(?P<Month>\d{1,2})/(?P<Year>(?:\d{4}|\d{2})))\s*-\s*Comunicação\s*de\s*Mudança\s*de\s*Partido:\s*do\s*(?P<PartyFrom>.*)\s+para\s+o\s+(?P<PartyTo>.*)(:?\(\))')

In [105]:
r = requests.get(base_url.replace('**PAGENUMBER**', '1'))
c = r.content

In [106]:
soup = BeautifulSoup(c,"html.parser")

In [107]:
paging = soup.find("div",{"class":"listingBar"}).find_all("a")
start_page = 1#paging[1].text
last_page = paging[len(paging)-1].text

In [108]:
print ( f'First page:{start_page} and last page:{last_page}')

First page:1 and last page:29

In [113]:
deputiesMovements = []
#last_page = 2
for page_number in range(int(start_page),int(last_page) + 1):
    i = i + 1
    # To form the url based on page numbers
    url = base_url.replace('**PAGENUMBER**', f'{page_number}')
    r = requests.get(url)
    c = r.content
    soup = BeautifulSoup(c,"html.parser")
    
    deputiesPanels = soup.find("div",{"id":"content"}).find_all("div",{"class":"panel panel-default"})
    
    for deputy in deputiesPanels:
        i = i + 1
        depName = deputy.find("h4", {"class":"panel-heading"}).find("a").text
                
        depName = None
        depMovements = None
        
        depName = deputy.find("h4", {"class":"panel-heading"}) \
                                  .find("a").text

        depMovements = []
        depMovementsLi = deputy.find("div", {"class":"panel-body"}) \
                                     .find("ul") \
                                     .find_all("li")

        for movLi in depMovementsLi: 
            for m in re.finditer(regexPattern, movLi.text.strip()):
                movDic = {}
                movDic['Date'] = datetime.date(int(m.group('Year')), int(m.group('Month')), int(m.group('Day'))) 
                movDic['From'] = m.group('PartyFrom')
                movDic['To'] = m.group('PartyTo')
                depMovements.append(movDic)

        depDic ={}
        depDic['Name'] = depName
        depDic['Movements'] = depMovements
        depDic['MovementsCount'] = len(depMovements)
        deputiesMovements.append(depDic)

        # To make a dataframe with the list
df = pandas.DataFrame(deputiesMovements)

# To write the dataframe to a csv file
#df.to_csv("Output2.csv")

In [114]:
df.sort_values("MovementsCount", axis = 0, ascending = False, 
                 inplace = True, na_position ='last')

In [118]:
df

,Movements,MovementsCount,Name
523,"[{'Date': 2003-01-23, 'From': 'PDT', 'To': 'PT...",10,ZEQUINHA MARINHO
461,"[{'Date': 2003-01-31, 'From': 'PTB', 'To': 'PS...",7,SANDRO MATOS
5,"[{'Date': 2005-02-15, 'From': 'PPS', 'To': 'PL...",6,ADEMIR CAMILO
316,"[{'Date': 2004-07-09, 'From': 'PSDB', 'To': 'P...",6,LINO ROSSI
13,"[{'Date': 2003-03-24, 'From': 'PPS', 'To': 'PM...",6,ALCESTE ALMEIDA
262,"[{'Date': 2003-08-05, 'From': 'PDT', 'To': 'PS...",6,JOÃO MENDES DE JESUS
491,"[{'Date': 2013-10-02, 'From': 'PSB', 'To': 'PR...",5,VALTENIR PEREIRA
165,"[{'Date': 2003-01-30, 'From': 'PSC', 'To': 'PL...",5,ENIO TATICO
433,"[{'Date': 2005-02-12, 'From': 'PSC', 'To': 'PM...",5,RENATO COZZOLINO
214,"[{'Date': 2004-06-23, 'From': 'PFL', 'To': 'PL...",5,GORETE PEREIRA
320,"[{'Date': 2003-02-01, 'From': 'PTB', 'To': 'PM...",5,LÚCIA BRAGA
247,"[{'Date': 2003-08-27, 'From': 'PSB', 'To': 'PM...",5,JEFFERSON CAMPOS
374,"[{'Date': 2004-04-13, 'From': 'PDT', 'To': 'PP...",5,MIRO TEIXEIRA
149,"[{'Date': 2003-01-31, 'From': 'PPB', 'To': 'PL...",5,EDMAR MOREIRA
338,"[{'Date': 2015-11-25, 'From': 'PDT', 'To': 'PM...",4,MAJOR OLIMPIO
465,"[{'Date': 2007-09-24, 'From': 'PDT', 'To': 'PM...",4,SÉRGIO BRITO
457,"[{'Date': 2003-08-07, 'From': 'PSDB', 'To': 'P...",4,SALVADOR ZIMBALDI
40,"[{'Date': 2004-02-03, 'From': 'PDT', 'To': 'PP...",4,ANDRÉ ZACHAROW
53,"[{'Date': 2005-05-31, 'From': 'PSDB', 'To': 'S...",4,ARIOSTO HOLANDA
394,"[{'Date': 2003-07-14, 'From': 'PSDB', 'To': 'S...",4,OSMÂNIO PEREIRA
229,"[{'Date': 2013-10-02, 'From': 'PSC', 'To': 'PR...",4,HUGO LEAL
396,"[{'Date': 2003-01-31, 'From': 'PPB', 'To': 'PS...",4,PASTOR AMARILDO
200,"[{'Date': 2009-10-06, 'From': 'PP**', 'To': 'P...",4,GEORGE HILTON
121,"[{'Date': 2015-09-24, 'From': 'PMDB', 'To': 'P...",4,DANILO FORTE
334,"[{'Date': 2003-02-01, 'From': 'PL', 'To': 'PPS...",4,LUPÉRCIO RAMOS
245,"[{'Date': 2003-01-09, 'From': 'PPB', 'To': 'PT...",4,JAIR BOLSONARO
3,"[{'Date': 2015-12-16, 'From': 'PTB', 'To': 'PM...",4,ADALBERTO CAVALCANTI
90,"[{'Date': 2007-10-05, 'From': 'PMDB', 'To': 'P...",4,CARLOS EDUARDO CADOCA
96,"[{'Date': 2003-01-31, 'From': 'PST', 'To': 'PS...",4,CARLOS WILLIAN
116,"[{'Date': 2003-09-10, 'From': 'PFL', 'To': 'PS...",4,COSTA FERREIRA
...,...,...,...
1,"[{'Date': 2019-02-26, 'From': 'PHS', 'To': 'PR'}]",1,ABÍLIO SANTANA
260,"[{'Date': 2011-10-26, 'From': 'PTB', 'To': 'PS...",1,JOÃO LYRA
259,"[{'Date': 2003-01-31, 'From': 'PPB', 'To': 'PL'}]",1,JOÃO LEÃO
258,"[{'Date': 2004-11-26, 'From': 'PPS', 'To': 'PD...",1,JOÃO HERRMANN NETO
113,"[{'Date': 2018-05-08, 'From': 'PP**', 'To': 'P...",1,CONCEIÇÃO SAMPAIO
256,"[{'Date': 2018-03-19, 'From': 'PSB', 'To': 'PR...",1,JOÃO FERNANDO COUTINHO
255,"[{'Date': 2015-10-01, 'From': 'PCdoB', 'To': '...",1,JOÃO DERLY
274,"[{'Date': 2013-10-08, 'From': 'PTB', 'To': 'PR...",1,JOSÉ AUGUSTO MAIA
107,"[{'Date': 2013-10-09, 'From': 'PP**', 'To': 'P...",1,CIDA BORGHETTI
296,"[{'Date': 2019-02-27, 'From': 'PATRI', 'To': '...",1,JÚNIOR MANO
103,"[{'Date': 2018-03-27, 'From': 'PT', 'To': 'PDT'}]",1,CHICO D'ANGELO
295,"[{'Date': 2005-02-15, 'From': 'PPS', 'To': 'PL'}]",1,JÚNIOR BETÃO
294,"[{'Date': 2003-05-07, 'From': 'S.PART.', 'To':...",1,JÚLIO REDECKER
293,"[{'Date': 2003-04-22, 'From': 'PPB', 'To': 'S....",1,JÚLIO REDECKER
292,"[{'Date': 2005-07-08, 'From': 'PPS', 'To': 'PS...",1,JÚLIO DELGADO
291,"[{'Date': 2011-10-26, 'From': 'DEM', 'To': 'PS...",1,JÚLIO CESAR
290,"[{'Date': 2004-08-25, 'From': 'PSDB', 'To': 'S...",1,JUÍZA DENISE FROSSARD
289,"[{'Date': 2016-03-01, 'From': 'PTB', 'To': 'PT...",1,JOZI ARAÚJO
288,"[{'Date': 2003-08-07, 'From': 'PSDB', 'To': 'P...",1,JOVAIR ARANTES
286,"[{'Date': 2018-04-02, 'From': 'PMDB', 'To': 'P...",1,JOSI NUNES
277,"[{'Date': 2003-05-14, 'From': 'PMDB', 'To': 'P...",1,JOSÉ CHAVES
285,"[{'Date': 2015-01-28, 'From': 'PT', 'To': 'PSB'}]",1,JOSEPH BANDEIRA
284,"[{'Date': 2003-04-23, 'From': 'PFL', 'To': 'PL'}]",1,JOSÉ SANTANA DE VASCONCELLOS
283,"[{'Date': 2007-03-05, 'From': 'PFL', 'To': 'PR'}]",1,JOSÉ ROCHA
104,"[{'Date': 2005-09-29, 'From': 'PFL', 'To': 'PV'}]",1,CHICO SARDELLI
281,"[{'Date': 2011-10-26, 'From': 'DEM', 'To': 'PS...",1,JOSÉ NUNES
280,"[{'Date': 2003-05-14, 'From': 'PSDB', 'To': 'P...",1,JOSÉ MÚCIO MONTEIRO
279,"[{'Date': 2013-10-16, 'From': 'PHS', 'To': 'PS...",1,JOSÉ HUMBERTO
105,"[{'Date': 2016-03-15, 'From': 'PTN', 'To': 'PR'}]",1,CHRISTIANE DE SOUZA YARED
265,"[{'Date': 2011-10-26, 'From': 'DEM', 'To': 'PS...",1,JOÃO RODRIGUES